body {
  font-family: "Arima", cursive;
}

.opening-section {
  background-image: url(images/donation4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 20%;
}

.opening-header {
  font-size: 50px;
}

.opening-para {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 10px;
}

#opening-para-edit {
  color: gray;
}

.link-button {
  text-decoration: none;
  background-color: tomato;
  padding: 10px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
}

.donate-plan-section {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.money-div {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
}

.our-donate-plan-h2 {
  background-color: aliceblue;
  border: 2px;
  padding: 10px;
  margin: 5px;
  border: gray solid 0px;
}

#red-box {
  background-color: rgb(240, 143, 125);
  border: red solid 2px;
  color: red;
}

.input-field {
  border: none;
}

.line {
  width: 50%;
}

.your-contribution-section {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #f2f2f2;
  overflow: auto;
  display: flex;
}

.gallery {
  margin: 5px;
  padding-top: 10px;
  float: left;
  width: 390px;
}

.gallery img {
  width: 100%;
  height: 150px;
}

.donate-today-section {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.one-third-width {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.food-color {
  background-color: rgb(161, 241, 215);
  text-align: left;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.family-color {
  background-color: pink;
  text-align: left;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

.education-color {
  background-color: antiquewhite;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.get-updates-section {
  text-align: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.donate-para-edit {
  color: gray;
  text-align: start;
}

.email-div {
  background-color: antiquewhite;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  height: 100px;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
}

.email-div-items {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.email-input {
  border: none;
  border-radius: 10px 0px 0px 10px;
  background-color: rgb(204, 201, 201);
  color: white;
}

.subscribe-button {
  text-decoration: none;
  background-color: tomato;
  padding: 10px;
  font-weight: 700;
  color: white;
  border-radius: 0px 10px 10px 0px;
}

.footer-section {
  background-color: rgb(3, 3, 22);
  text-align: center;
}

.footer-para {
  padding-top: 10px;
  color: tomato;
  font-family: "Splash", cursive;
}

.footer-small {
  color: white;
  font-size: 8px;
}
